# Webserver Port
PORT=8080

# Firestore / Google Cloud Configuration
# In Cloud Run (Produktion) werden diese automatisch erkannt.
# Lokal kann man einen Service Account nutzen:
# GOOGLE_APPLICATION_CREDENTIALS=./service-account.json

# Falls der Standard-Projektname nicht erkannt wird:
# FIREBASE_PROJECT_ID=dein-projekt-id

# Auth Invite Code (für Erstanmeldung)
invite_code=85fce0c7af4544e48b97630d337f0141
